@page
@model IndexModel
@{
    ViewData["Title"] = "Aerolíneas ABM";
}

<div class="text-center">
    <h1 class="display-4">Visor de vuelos</h1>
    <p>Desde la sección Vuelos podrá visualizar todos los registrados en el sistema, su horario y estado.</p>
</div>
